/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: #dddddd;
}

.btn{
  border-radius: 10px;
}

.lageplanbox img{
  height: 80%;
}

.btn-group{
  align-items: center;
  height: 30%;
  width: 90%;
}

.btn-group button {
  border-width: 2px;
  background-color: #00336A;
  color: white;
  text-align: center;
  width: 25%;
  height: 100%;
  text-decoration: none;
  font-size: 120%;
}

.btn-group button:hover{
  border-color: #333333;
  border-width: 2px;
}

.lageplanbox{
  max-width: 100%;
  width: 65%;
  height: 100%;
  margin-left: 10%;
  background: url("../img/campusplan_raeume_albstadt.jpg") center center / 90% 100% no-repeat;
}

.dots{
  height: 3%;
  width: 2%;
  border-radius: 100%;
  background-color: red;
}

.dots:hover{
  cursor: pointer;
}

#dot210 {
  position: absolute;
  left: 39%;
  top: 40%;
}

#dot207{
  position: absolute;
  left: 1160px;
  top: 430px;
}

#dot206{
  position: absolute;
  left: 1230px;
  top: 490px;
}

#dot205{
  position: absolute;
  left: 990px;
  top: 406px;
}
#dot201{
  position: absolute;
  left: 1150px;
  top: 630px;
}

#logo{
  padding-left: 10%;
  height: 100%;
  width: 90%;
}


.grid-layout {
  display: grid;
  grid-template-columns: 18% auto ;
  align-items: center;
}

/* sidebar items-----------------------------------*/

.list-group{
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
}

.list-group ul{
  height: 100%;
  width: 100%;
}
.list-group li {
  background-color: #00336A;
  margin-top: 5%;
  color: white;
  text-align: center;
  padding: 9%;
  font-size: 140%;
  width: auto;
  list-style-type: none;
  }

.list-group li:hover {
  background-color: white;
}

@media (max-width: 1900px) {
  .dots{
    display: none;
  }
}

@media (max-width: 960px){


}
@media (max-width: 960px) {

}
