/* Allgemeine Sachen*/
:root {
    --grid-color: #cecece; /* Farbe Fuer die Rahmen*/
    --time-color: #777; /* Farbe fuer die Zeiten*/
    --slot-hover-color: rgba(80, 78, 78, 0.043);
    --shadow-color: rgba(0,0,0,0.3); /* Schatten fuer das Fenster was sich oeffnet*/
    --font-color: #222;
    --color-red: rgb(190, 35, 15);
    --color-blue: rgb(54, 92, 175);
    --colo-lightblue: rgba(39, 73, 159, 0.128);
    --colo-lightgrey: rgba(140, 146, 161, 0.128);
    --color-green: rgb(21, 129, 21);
    --color-orange: rgb(233, 153, 4);
    --slotHeight: 30px; 
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color); 
}

input{
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

/* Gesamter Kalender mit Rahmen */

.calendararea {
    width: 50%;
    padding: 1%;
    border: 2px solid var(--grid-color);
    border-radius: 20px;
    margin: 2%;

   
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    
}

/* Datum Navigation*/
#navigation{
    font-size: clamp(15px, 2.5vw, 30px);
    text-align: center;
}

#prevWeekBtn:hover, #nextWeekBtn:hover{
    cursor: pointer;
    opacity: 0.9;
}

/* Nur Tabellenkoerper */
#calendar {
    border-collapse: collapse;
    margin: 2%;
}


#calendar th, #calendar td{
    border: 1px solid #ccc;
    padding: 1%;
}

#calendar th {
    text-align: center;
    background-color: var(--time-color);
}

.currentDay{
    color: rgba(7, 7, 7, 0.189);
    font-size: 12px;
}

#calendar th:not(:first-child), #calendar td:not(:first-child) {
  width: 120px;
}


/* Breite für die Spalte mit der Uhrzeit festlegen */
#calendar th:first-child, #calendar td:first-child {
  width: 60px;
  text-align: center;
}

.day-cell:hover {
    background-color: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}

/* Buchungsfenster */
#buchungsfenster {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--shadow-color);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10; /* sorgt dafuer, dass es ueber allem anderen ist*/
    padding: 1%;
    width: fit-content;
    min-width: 12.5%;
    height: fit-content;
    
}

.bookDescriptor {
    font-weight: bold;
    display: inline-block;
    margin: 5% 2.5% 1.25% 0;
}

.shortInput {
    border-bottom: 1px solid var(--grid-color);
    padding: 5% 1%; 
}

.shortInput:focus { /* damit man die Eingabefelder besser erkennt*/
    border-bottom: 1px solid var(--font-color)
}

.button {
    margin-top: 15%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: var(--font-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}

#submitButton{
    right: 0px;
}

.button:hover, .button:focus {
    opacity: 0.9;
}

