/* Allgemeine Sachen*/
:root {
  --grid-color: #cecece; /* Farbe Fuer die Rahmen*/
  --time-color: #777; /* Farbe fuer die Zeiten*/
  --slot-hover-color: rgba(80, 78, 78, 0.043);
  --shadow-color: rgba(0,0,0,0.3); /* Schatten fuer das Fenster was sich oeffnet*/
  --font-color: #222;
  --color-red: rgb(190, 35, 15);
  --color-blue: rgb(54, 92, 175);
  --colo-lightblue: rgba(39, 73, 159, 0.128);
  --colo-lightgrey: rgba(140, 146, 161, 0.128);
  --color-green: rgb(21, 129, 21);
  --color-orange: rgb(233, 153, 4);
  --slotHeight: 30px; 
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color); 
}

input{
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
}

html {
  line-height: 1.4;
}

/* --- login --- */

/* helpers/icon.css */
.icons {
  display: none;
 }

.icon {
  display: inline-block;
  fill: #606468;
  font-size: 16px;
  font-size: 0.5cm;
  height: 1em;
  width: 1em;
 }
 
 /* helpers/grid.css --> Loginfenster */
 
 .grid {
   width: 320px;
   border: 5% solid #cecece;
   border-radius: 20px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
   padding: 12px;
 }
 
 /* helpers/hidden.css --> eingabebalken */
 
 .hidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
 }
  
 /* loginfenster + hintegrund */
 #loginArea {
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 50vh;
 }
 
 /* modules/form.css */
 
 input {
   background-image: none;
   border: 0;
   color: inherit;
 
 }
 
 input[type='submit'] {
   cursor: pointer;
 }
 
 .form {
   margin: -14px;
   margin: -0.875rem;
 }
 
 .form input[type='password'],
 .form input[type='text'],
 .form input[type='submit'] {
   width: 100%;
 }
 
 .form__field {
   display: flex;
   margin: 14px;
   margin: 0.875rem;
 }
 
 
 /* modules/login.css */
 
 .login {
   color: #eee;
 }
 
 .login label,
 .login input[type='text'],
 .login input[type='password'],
 .login input[type='submit'] {
   border-radius: 0.25rem;
   padding: 16px;
   padding: 1rem;
 }
 
 .login label {
   background-color: #363b41;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
   padding-left: 20px;
   padding-left: 1.25rem;
   padding-right: 20px;
   padding-right: 1.25rem;
 }
 
 .login input[type='password'],
 .login input[type='text'] {
   background-color: #3b4148;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
 }
 
 .login input[type='password']:focus,
 .login input[type='password']:hover,
 .login input[type='text']:focus,
 .login input[type='text']:hover {
   background-color: #434a52;
 }
 
 .login input[type='submit'] {
   background-color: #ea4c88;
   color: #eee;
   font-weight: 700;
   text-transform: uppercase;
 }
 
 .login input[type='submit']:focus,
 .login input[type='submit']:hover {
   background-color: #d44179;
 }

 /* login Ende */

#logo:hover{
  cursor: pointer;
  opacity: 0.9;
}

a{
  text-decoration: none;
  color: #dddddd;
}

.btn{
  border-radius: 10px;
}
/*----------------------------------*/

.GebOnEtage{
  align-items: center;
  list-style-type: none;
  display: inline-block;
  height: 30%;
  width: 100%
}

.btnOnEtage{
  background-color: #333;
  display: inline-block;
  border-radius: 10px;
  margin: 50px;
  color: white;
  width: 18%;
  height: 100%;
  text-decoration: none;
  font-size: 1vw;
  align-items: center;
  text-align: center;
}

/*----------------------------------*/

.btn-group{
  height: 30%;
  width: 100%;
}



#linkleiste{
  align-items: center;
}

.btn-group button {
  background-color: #333;
  color: white;
  width: 18%;
  height: 100%;
  text-decoration: none;
  font-size: 1vw;
}

.btn-group button:hover{
  opacity: 0.9;
  background-color: #333;
  color: white;
  cursor: pointer;

}

/*--------------------------------------------*/
/*svg zeugs-----------------------------------*/
#svgHolder{
  width: 70%;
  height: 100%;
}


#lageplan{
  border: none;
  height: 100%;
  width: 100%;
}
#roomSVG{

}

/* #etageSVG{
  width: 100%;
  height: 100%;
} */

/*---------------------------------------------*/

#logo{
  height: 100%;
  width: 90%;
}


#grid-oben{
  display: grid;
  grid-template-columns: 20% 80% ;
  align-items: center;
}

#grid-unten{
  display: grid;
  grid-template-columns: 24% 76%;
  grid-template-rows: 50% 50%;
  grid-gap: 5%;
}

/* sidebar items-----------------------------------*/

.list-group{
  font-family: "Open Sans", sans-serif;
  width: 80%;
}

.list-group ul{
  height: 100%;
}
.list-group li {
  background-color: #333;
  margin-top: 5%;
  color: white;
  text-align: center;
  padding: 9%;
  font-size: 1vw;
  list-style-type: none;
  border-radius:15px;
  }

.list-group li:hover {
  opacity: 0.9;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.list-group li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-group li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*footer*/
.footer {
  margin-top: 4%;
  background-color: rgba(41, 40, 40, 0.815);
  display: flex;
  flex-direction: column;

}

.footer-container {
  display: flex;
  justify-content: center;
}

#footerFirma, #footerAboutUs, #footerImpressum {
  margin: 2% 3% 2% 2%;

}

#footerAboutUs, #footerImpressum, #footerFirma {
  font-size: 100%;
}

#footerSocialmedia {
  margin-left: 2%;
}

.footer-links:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.5;
}


.fa {
  padding: 10px;
  font-size: 100%;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 2vw 1vw 1vw 1vw;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px 12px 10px 12px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*Textbereich*/
.textarea {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 40%;
  padding-left: 10%;
  max-width: 100%;
  font-size: 20px;
  
}

#textarea-h1{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  color: #666;
  margin: 0;
  font-size: 50px;
}

/* Kontaktformular */

#kontaktformular {
  margin: 0 0 50px 0;
}

.shortInputKontaktformular{
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 30%;
}

#kontaktnachricht{
  resize: both;
  min-width: 30%;
  min-height: 100px;
  max-width: 60%;
  max-height: 300px;
  outline: none;
  margin-top: 20px;
}




#submitButtonKontaktformular{
  background-color: #333;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  color: white;
  border: none;
  padding: 2px;
}

#submitButtonKontaktformular:hover{
  opacity: 0.9;
}


/*Datenschutz*/
.index-link{
  color: rgba(0, 0, 0, 0.648);
}

.index-link:hover {
  opacity: 0.9;
}

.header{
  background-color: rgba(28, 28, 28, 0.082);
  margin-bottom: 2%;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* --- Kalender --- */
/* Gesamter Kalender mit Rahmen */

.calendararea {
  width: 50vw;
  padding: 1% 10% 1% 1%;
  border: 2px solid var(--grid-color);
  border-radius: 20px;
  margin: 5% 0 5% 25%;
  position: relative;
  background-color: white;
  left: 70%;
}

/* Datum Navigation*/
#navigation{
  text-align: center;
  align-items: center;
}

#currentDate {
  margin: 0;
  font-size: clamp(2.5vw, 5vw, 40px); /* clamp(minimum, preferred, maximum); */
}

#prevWeekBtn:hover, #nextWeekBtn:hover{
  cursor: pointer;
  opacity: 0.5;
}

#prevWeekBtn, #nextWeekBtn{
  transition: opacity 0.3s;
  cursor: pointer;
  user-select: none;
  font-size: clamp(15px, 10.0vw, 50px);
}

/* Nur Tabellenkoerper */
#calendar {
  border-collapse: collapse;
  margin: 2%;
  
}


#calendar th, #calendar td{
  border: 1px solid #ccc;
  padding: 1%;
}

#calendar th {
  text-align: center;
  background-color: var(--time-color);
}

.currentDay{
  color: rgba(7, 7, 7, 0.189);
  font-size: 12px;
}

#calendar th:not(:first-child), #calendar td:not(:first-child) {
width: 120px;
}


/* Breite für die Spalte mit der Uhrzeit festlegen */
#calendar th:first-child, #calendar td:first-child {
width: 60px;
text-align: center;
}

.day-cell:hover {
  background-color: var(--slot-hover-color);
  cursor: pointer;
}

/* Buchungsfenster */
#buchungsfenster {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px var(--shadow-color);
  left: 50%;
  Top: 90%;
  transform: translate(-50%, -50%);
  z-index: 10; /* sorgt dafuer, dass es ueber allem anderen ist*/
  padding: 1%;
  width: fit-content;
  min-width: 12.5%;
  height: fit-content;
}

.bookDescriptor {
  font-weight: bold;
  display: inline-block;
  margin: 5% 2.5% 1.25% 0;
}

.shortInput {
  border-bottom: 1px solid var(--grid-color);
  padding: 5% 1%; 
}

.shortInput:focus { /* damit man die Eingabefelder besser erkennt*/
  border-bottom: 1px solid var(--font-color)
}

.button {
  margin-top: 15%;
  margin-bottom: 2%;
  padding: 2%;
  background-color: var(--font-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 48%;
  text-align: center;
}

#submitButton{
  right: 0px;
}

.button:hover, .button:focus {
  opacity: 0.9;
}

/* --- Tabelle "Meine Buchungen" --- */

#meineBuchungen {
  position: relative;
  background-color: white;
  border-collapse: collapse;
  border: 2px solid var(--grid-color);
  border-radius: 20px;
  padding: 1%;
  width: 100%;
  margin-top: 5%;
  right: 20%;
}

#tabelle th, #tabelle td {
  border: 1px solid #ccc;
}


.table-container {
  width: 100%;
  overflow-x: auto;
}

.stornierenBtn{
  margin-left: 40%;
}

.stornierenBtn:hover {
  opacity: 0.9;
  cursor: pointer;
}

#tabellenkopf th{
  background-color: var(--time-color);
  text-align: center;
}

#conformStorno{
  width: 20%;
  border-radius: 10px;
  background-color: #333;
  color: white;
  margin: 1% 0 10% 22%;
  padding: 10px;
  
}

#conformStorno:hover{
  opacity: 0.9;
  cursor: pointer;
}



/* --- Dropdownmenue --- */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  opacity: 0.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/* --- Responsive Design --- */

@media only screen and (max-width: 800px) {
  #grid-oben{
      grid-template-columns: 1fr;
      margin-bottom: 50%;
      
  }

  #logo {
      width: 30%;
      text-align: center;
      margin-left: 35%;
  }
  
  .btn-group button{
      width: 100%;
      font-size: 100%;
  }

    
  #grid-unten{
  grid-template-columns: 1fr;
  margin-bottom: 40%;
  }

  #sidebar {
      display: none;
  }    

  #sidebar li{
      width: 100%;
      font-size: 100%;
      padding: 1%;
  }

  #svgHolder {
      width: 100%;
      height: 100%;
      grid-row: 3;
  }

  .navigationEtage li {
    width: 100%;
    font-size: 100%;
  }

  .calendararea {
    width: 80%;
    margin:0;
    left: 7%;
    padding: 2% 4% 2% 2%;
  }

  #etageSVG {
   width: 100%;
  }

  #navigationEtage li {
    font-size: 100%;
    padding: 1%;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 10px;

  }

  .dropbtn{
    background-color: #333;
    border-radius: 10px;
  }

  #currentDate {
    margin-bottom: 2%;
  }

  #prevWeekBtn, #nextWeekBtn{
    font-size: clamp(5vw, 6vw, 10vw);
  }

  #meineBuchungen {
    width: 90%;
    overflow: hidden;
    padding: 2%;
    left: 2.5%;
  }

  #conformStorno{
    width: 30%;
    margin: 1% 0 10% 35%;
  }

}