
@media only screen and (max-width: 800px) {
    #grid-oben{
        grid-template-columns: 1fr;
        margin-bottom: 50%;
    }

    #logo {
        width: 30%;
        text-align: center;
        margin-left: 35%;
    }
    
    .btn-group button{
        width: 100%;
        font-size: 100%;
    }

      
    #grid-unten{
    flex: 1;
    grid-template-columns: 1fr;
    margin-bottom: 40%;
    }

    #sidebar {
        /* display: none; */
        background-color: green;
    }    

    #sidebar li{
        width: 100%;
        font-size: 100%;
        padding: 1%;
    }

    #svgHolder {
        width: 100%;
        height: 100%;
        grid-row: 3;
    }

    .dropdown {
        width: fit-content;
        position: relative;
        margin: 0;
    }

    #EtageBtn {
        background-color: yellow;
    }

    .list-group btn{
        background-color: aqua;
    }

    #footerfirma h1 {
    
    }

    .dropdown:hover .dropdown-content {
        display: none;
      }

      .dropdown:hover .dropbtn {
        background-color: #4CAF50;
      }

      .dropdown.active .dropdown-content {
        display: block;
      }

    


    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

 